@model IEnumerable<SaveLink.Models.Category>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    $(function () {
        SahredLinks();
        CheckFirstLogining();
    });
</script>

<input id="first_logining" type="hidden" value="@Session["FirstLogining"]">
<input id="error_change_account_data" type="hidden" value="@ViewBag.ErrorChangeAccountData" />

<div class="window_del_cat">
    <p class="head">При удалении категории будут удалены все сылки которые ей пренадлежат</p>
    <p>Подтверждаете удаление категории: <br><span id="name_del_cat"></span>?</p>
</div>

<!--окно подтверждение удаления чата, стили применяем от окна class="window_del_cat"-->
<div class="window_del_chat">
    <p class="head">Будет удалена вся переписка с пользователем <br><span id="name_del_chat"></span></p>
    <p>Подтверждаете удаление переписки ?</p>
</div>




<div id="window">
    <div class="tabs">

        <a class="active_tab" id="tab_links" data-ajax="true" href="/User/Workzone/" data-ajax-mode="replace" data-ajax-update="#cat_and_workzone" onclick="">Cсылки</a>
        <a id="tabs_share" data-ajax="true" href="/User/SharedLinks/?check=1" data-ajax-mode="replace" data-ajax-update="#cat_and_workzone" onclick="">Отправленные</a>


    </div>
    <div id="cat_and_workzone">
        <div class="category">
            <ul type="none" class="ul_category">
                <li class="search">
                    @using (Ajax.BeginForm("Links", "User", new AjaxOptions { UpdateTargetId = "workzone" }))
                    {
                        <input type="search" name="search" placeholder="Найти...">
                    }
                </li>
                @foreach (var c in Model)
                {
                    <li id="@c.Id" num="@c.Id" class="@c.Id">
                        @Ajax.ActionLink(c.Name, "Links", "User", new { id = c.Id }, new AjaxOptions { UpdateTargetId = "workzone" })
                        <div><img id="@c.Id" title="Меню" width="20px" src="~/Content/img/edit.svg"></div>
                        <ul id="last_menu" type="none">
                            <li id="@c.Id" class="edit">Редактировать</li>
                            <li id="delete" name="@c.Name">Удалить</li>
                        </ul>
                    </li>
                }
            </ul>
        </div>
        <div class="workzone" id="workzone">
            @foreach (var l in ViewBag.links)
            {
                <div class="row" id="@l.Id">
                    <input id="@l.Id" type="checkbox">
                    <div class="link">
                        <a href="@l.Url" target="blank">@l.Url</a>
                    </div>
                    <div class="description">@l.Description</div>
                    <ul type="none" id="menu">
                        <li>
                            <a data-ajax="true" data-ajax-mode="replace" data-ajax-update="#@l.Id.ToString()" href="/User/EditLink/@l.Id"><img src="~/Content/img/edit.png" title="редактировать"></a>
                        </li>
                    </ul>
                </div>
            }
        </div>
    </div>
    <div class="add_link">
        @using (Ajax.BeginForm("AddLink", "User", new AjaxOptions { UpdateTargetId = "cat_and_workzone", OnComplete = "OnCompleteAddLink" }, new { id = "FormAddLink" }))
        {
            <div class="form_left">
                <input placeholder="Вставить URL" type="text" name="Url" id="Link" required="" />

                <span class="error_description"></span>
                <textarea name="Description" id="Description" placeholder="Введите заметку к ссылке" required=""></textarea>
            </div>

            <div class="form_right">
                <select name="CategoryId" id="category" required="">
                    <option value="0">выберите категорию</option>
                    @foreach (var c in Model)
                    {
                        <option value="@c.Id">@c.Name</option>
                    }
                </select>

                <span class="errors"></span>
                <input type="text" name="Name" id="Name" placeholder="Введите новую категорию" required="" />

                <input class="btn_submit" type="submit" id="save_link" value="Добавить">
            </div>
        }
    </div>
    <div class="share_link">
        @using (Ajax.BeginForm("SharedLinks", "User", new AjaxOptions { UpdateTargetId = "cat_and_workzone" }, new { id = "FormShareLinks" }))
        {
            <div class="form_left">
                <input type="hidden" id="shared_links" name="SharedLinks" value="">
                @if (ViewBag.LoginError == "Error")
                {
                    <span class="loginerror">не верный логин</span>
                }
                <input placeholder="Введите логин получателя" type="text" name="Recipient" id="Recipient" />
                <textarea name="Description" id="Description" placeholder="Введите описание к сылкам" required=""></textarea>
            </div>

            <div class="form_right">
                <p><img src="~/Content/img/share.png" align="left">Что бы поделиться выбранными ссылками - введите логин пользователя, описание если нужно и нажмите отправить.</p>
                <input class="btn_submit" type="submit" id="share_links" value="Отправить">
            </div>
        }
    </div>
    <div class="save_share_link_form">
        @using (Ajax.BeginForm("SaveSharedLinks", "User", new AjaxOptions { UpdateTargetId = "cat_and_workzone" }, new { id = "FormSaveSharedLinks" }))
        {
            <input id="ShareID" type="hidden" name="ShareID">
            <div class="form_l">
                <select name="Category_Id" id="Category_Id" required="">
                    <option value="0">выберите категорию</option>
                    @foreach (var c in Model)
                    {
                        <option value="@c.Id">@c.Name</option>
                    }
                </select>
                <span class="errors"></span>
                <input type="text" name="NameCategory" id="NameCategory" placeholder="Введите новую категорию" required="" />

                <input class="btn_submit" type="submit" id="save_share_link" value="Сохранить">
            </div>
            <div class="form_r">
                <p><img src="~/Content/img/save.png" align="left">Сохраните отправленные для вас ссылки в существующую или новую вкладку.</p>
            </div>
        }
    </div>
</div>